/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

#ratio, #ratio1 {
    color: coral;
    position: absolute;
    top: 17%;
    transform: translateX(444%);
}

#ratio-span, #ratio-span1 {
    color: coral;
    position: absolute;
    top: 22%;
    transform: translateX(472%);
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

/*.player-1-panel {*/
/*    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/Saheed-Odulaja-JS-3D-Logo-JS-by-me+-(White)4Profile.png);*/
/*    background-image: url(img/Saheed-Odulaja-JS-3D-Logo-JS-by-me+.png)*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button, #end-score, #new-end-score, #loading {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}


i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
#small-num { top: -3px; left: 279px;}
#end-score { top: 5px;}
#new-end-score { top: 5px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner {
    background-color: #f7f7f7;
    font-weight: bolder;
    color: darkgoldenrod;
}

#new-end-score {
    left: 72%;
    font-weight: 900;
}

.auto-play {
    transform: translateX(390%);
    margin-top: 7px;
    width: 100px;
    left: 50%;
}

.manual-play {
    transform: translateX(285%);
    margin-top: 7px;
    width: 100px;
    left: 50%;
}

#status-text {
    position: absolute;
    transform: translateX(205%);
    margin-top: -22px;
    width: 100px;
    left: 50%;
}
